<style>
@charset "utf-8";

/* root setting */
:root{
  --title-color: #504946;
  --main-color: #F5F5F5;
  --base-color: #D2CBC9;
  --font-color: #757575;
  --main-font: "Roboto", "BIS UDPGothic", sans-serif;
}


.top {
  color: var(--font-color);
  font-size: 0.98em;
  font-family: var(--main-font);
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  letter-spacing: 0.07em;
  line-height: 1.5;
}

.haco{
  border-radius: 5px;
  border: 1px solid;
  padding: 25px 25px;
}

</style>
