<style>
@charset "utf-8";

/* root setting */
:root{
  --title-color: #408ca6;
  --main-color: ;
  --main-font: "Roboto", "BIS UDPGothic", sans-serif;
}


.toppage {
  color: var(--main-color);
  font-size: 8pt;
  font-family: "Zen Maru Gothic";
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  letter-spacing: 0.07em;
  line-height: 1.5;
}

</style>
